<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>GET 방식</h2>
    <form action ='/api/post' method ='GET'>
        <label>제목 : </label><input type ="text" name="title">
        <label>내용 : </label><input type ="text" name="content">
        <input type ="submit" value ="전송">
    </form>

    <h2>POST 방식</h2>
    <form action ='/api/post' method ='POST'>
        <label>제목 : </label><input type ="text" name="title">
        <label>내용 : </label><input type ="text" name="content">
        <input type ="submit" value ="전송">
    </form>
</body>
</html>